/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*header*/

.header {
    background-color: #000000;

}

.header-box {
    width: 300px;
    height: 50px;
    padding: 20px;
    margin: 40px auto;
    background-color: #ffffff;
}


/*sidebar*/

.sidebar {
 width: 250px;
  overflow-y: auto;

}
.sidebar-box {
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 40px auto;
    background-color: #00ff00;
}
/*content*/






/*footer*/

.footer {
    background-color: #0026ff;
    padding: 20px;
    width: 300px;
    height: 50px;
}